 <section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">ABOUT US</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum corrupti unde esse repellendus dolore fugiat id tenetur in autem quos ullam libero reiciendis excepturi, beatae sequi facere enim. Voluptates, dolore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur debitis voluptatibus harum rerum, ea cumque nobis vero corporis vel quia enim est laudantium tenetur ullam nesciunt nostrum dolores voluptas!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum corrupti unde esse repellendus dolore fugiat id tenetur in autem quos ullam libero reiciendis excepturi, beatae sequi facere enim. Voluptates, dolore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur debitis voluptatibus harum rerum, ea cumque nobis vero corporis vel quia enim est laudantium tenetur ullam nesciunt nostrum dolores voluptas!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum corrupti unde esse repellendus dolore fugiat id tenetur in autem quos ullam libero reiciendis excepturi, beatae sequi facere enim. Voluptates, dolore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur debitis voluptatibus harum rerum, ea cumque nobis vero corporis vel quia enim est laudantium tenetur ullam nesciunt nostrum dolores voluptas!
            </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back To Home</button>
            </div>
        </div>

    </div>
 </section>
